@import "base/common";
@import "base/font";
@import "base/ui";
@import "base/variable";
main {
    padding-top: 10rem;
    background-color: black;
    background-image: url("../../assets/image/bgr.png");
    height: 1000px;
    padding: 10rem 8rem 8rem 8rem;
    font-family: $font-trirong;
    > .inner {
        background: #1b1b1b;
        border-radius: 1.2rem;
        padding: 4.5rem;
    }
}
